$main-font-family: "Open Sans", "Arial", sans-serif;

$mobile: 320px;
$pad: 768;
$desktop-mid: 1024px;
$desktop-large: 1440px;

$text-grey: grey;
$text-black: black;
$coral: coral;
$white: white;

$blue: #006aff;
$azure4: rgb(34, 255, 255);
$dark-orange: #DC582A;